@model AcuiteCodingChallenge.ViewModels.IndexVm

<div>
    <div class="dropdown float-end">
        <button class="btn btn-default dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Filter By:
        </button>
        <ul class="dropdown-menu">
            <li>
                @Ajax.ActionLink("All Books", "all", null,
                new AjaxOptions
                {
                    UpdateTargetId = "listOfBooks",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET"
                }, new { @class = "dropdown-item" })
            </li>
            
            @foreach (var category in Model.FilterCategories)
            {
                <li>
                    @Ajax.ActionLink(category.Key, "category", null,
                    new { category = category.Value},
                    new AjaxOptions
                    {
                        UpdateTargetId = "listOfBooks",
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "GET"
                    }, new { @class = "dropdown-item" })
                </li>
            }
        </ul>
    </div>

    <div class="float-end">
        <div class="form-outline float-start">
            <input type="text" id="searchBy" name="searchBy" class="form-control" placeholder="Search term" />
        </div>
        <button class="btn btn-default dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Search By:
        </button>
        <ul class="dropdown-menu">
            <li>
                @Ajax.ActionLink("Author Name", "author", null,
                new { searchBy = "dummy" },
                new AjaxOptions
                {
                    UpdateTargetId = "listOfBooks",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET"
                },
                new { @class = "dropdown-item", @id = "searchByAuthor" })
            </li>
            <li>
                @Ajax.ActionLink("Book Title", "title", null,
                new { searchBy = "dummy" },
                new AjaxOptions
                {
                    UpdateTargetId = "listOfBooks",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET"
                },
                new { @class = "dropdown-item", @id = "searchByTitle" })
            </li>
        </ul>
    </div>

    <h3>Books</h3>

    <div id="listOfBooks">
        @Html.Partial("~/Views/Shared/_BookListView.cshtml", Model.Books)
    </div>
    


</div>

@section scripts{
    <script src="~/Scripts/acuite-code-challenge.search.js"></script>
}