@model IEnumerable<AcuiteCodingChallenge.Entities.Book>

<div id="listOfBooks">
    <div class="dropdown float-end">
        <button class="btn btn-default dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Filter By:
        </button>
        <ul class="dropdown-menu">
            <li>
                @Ajax.ActionLink("All Books", "all", null,
                new AjaxOptions
                {
                    UpdateTargetId = "listOfBooks",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET"
                }, new { @class = "dropdown-item" })
            </li>
            
            @foreach (var cat in ViewData["Categories"] as List<string>)
            {
                string[] category = cat.Split('|');
                <li>
                    @Ajax.ActionLink(category[0], "category", null,
                    new { category = category[1]},
                    new AjaxOptions
                    {
                        UpdateTargetId = "listOfBooks",
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "GET"
                    }, new { @class = "dropdown-item" })
                </li>
            }
        </ul>
    </div>

    <div class="float-end">
        <div class="form-outline float-start">
            <input type="text" id="searchBy" name="searchBy" class="form-control" placeholder="Search term" />
        </div>
        <button class="btn btn-default dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Search By:
        </button>
        <ul class="dropdown-menu">
            <li>
                @Ajax.ActionLink("Author Name", "author", null,
                new { searchBy = "dummy" },
                new AjaxOptions
                {
                    UpdateTargetId = "listOfBooks",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET"
                },
                new { @class = "dropdown-item", @id = "searchByAuthor" })
            </li>
            <li>
                @Ajax.ActionLink("Book Title", "title", null,
                new { searchBy = "dummy" },
                new AjaxOptions
                {
                    UpdateTargetId = "listOfBooks",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET"
                },
                new { @class = "dropdown-item", @id = "searchByTitle" })
            </li>
        </ul>
    </div>

    <h3>Books</h3>

    <table cellpadding="5">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Catagory</th>
        </tr>
        @foreach (var b in Model)
        {
            <tr>
                <td>@b.Title</td>
                <td>@b.Author</td>
                <td>@b.Category</td>
            </tr>
        }
    </table>


</div>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        $(function () {
            $("#searchBy").focusout(function () {
                var data = $("#searchBy").val();
                console.log(data);
                $("#searchByTitle").attr("href", $("#searchByTitle").attr("href").replace("dummy", data));
                $("#searchByAuthor").attr("href", $("#searchByAuthor").attr("href").replace("dummy", data));
            })
        });
    </script>
}